.stone {
  background-image: url("../assets/stone.jpg") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  position: fixed !important;
  z-index: -50 !important;
  padding: 0 !important;
  margin: 0 !important;
  opacity: .4 !important;
};

/* .parentDiv .footer {
  background-image: url("../assets/sudoGPReight.jpg") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  position: relative !important;
  height: 240px !important;
  width: 100% !important;
  filter: brightness(25%) !important;
  z-index: -30 !important;
}; */